.container {
  height: 100%;
  position: relative;
}
.navBar {
  background-color: rgb(78, 78, 78);
  color: white;
  font-weight: 500;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  height: 6rem;
}
.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
  padding: 10px;
  position: relative;
  height: 3rem;
}
.fileName {
  /* background-color: red; */
  position: absolute;
  text-align: center;
  width: calc(100% - 20px);
  z-index: -10;
}
@media (max-width: 600px) {
  .header {
    height: 2.5rem;
  }
  .navBar {
    height: 5rem;
  }
  .fileName {
    text-align: right;
  }
}
.resetLayout {
  position: absolute;
  right: 10px;
}
.controls {
  display: flex;
  height: 3rem;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .controls {
    padding: 0;
    height: 2.5rem;
  }
  .chooseFileButton {
    padding: 5px;
  }
}
.pageInput {
  width: 3rem;
  background-color: rgb(46, 46, 46);
  color: white;
  padding: 5px;
  outline: none;
  text-align: center;
}
.fileDropInput {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.documentUpperPart {
  display: flex;
  flex-direction: column;
}
